@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Cinzel+Decorative:wght@700&family=Katibeh&family=Merienda+One&family=Merienda:wght@700&family=Redressed&family=Ubuntu:wght@400;500;700&display=swap');

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}

body {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  font-family: 'Redressed';
}

.cover-container {
  max-width: 100%;
  margin: auto;
}

.px-3{
    height: 90vh;
    margin: 5px 0px 5px 0px;
    background: url('/images/1.JPG') no-repeat;
    background-size: cover;
    width: 100%;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}

hr{
    background-color: rgba(0, 0, 0, 0);
    border-top: 8px dotted white;
    width: 3%;
    margin: 10px auto 10px auto;
}

header{
    width: 90%;
    margin: auto;
}

.main-content{
    margin: 20px auto 10px auto;
    width: 70%;
}

h3{
    font-family: 'Merienda One';
    font-size: 30px;
    margin-bottom: 6px;
}

h4{
    color: aqua;
}

h1{
    color: #cad9d9;
}

h2{
    text-decoration-line: underline;
    font-family: 'Merienda';
}

.para{
    width: 85%;
    margin: auto;
    text-align: justify;
}

p{
    font-size: 20px;
}

.col img{
    height: 300px;
    width: 100%;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}
